In [2]:
import pandas as pd

In [3]:
df_videogames = pd.read_csv("videogames.csv")

In [ ]:
df_videogames

In [ ]:
df_videogames.head(5)

In [16]:
df_videogames.to_excel("videogames.xlsx", index = False)
df_excel= pd.read_excel ("videogames.xlsx")

In [ ]:
df_excel.head(5)

In [22]:
import os
os.makedirs("Files", exist_ok=True)
df_videogames.to_csv("Files/videogames.csv", index=False)

In [ ]:
#copia el archivo personal.json en la carpeta Files

In [49]:
#Abre el fichero json y haz las modificaciones necesarias para que tenga formato de tabla. Hay que normalizar los datos con el pd.json_normalizeimport json
import json
# Normalizar los datos
with open('./files/personal.json', 'r', encoding='utf-8') as f:
    datos = json.load(f)

# Normalizar los datos
df= pd.json_normalize(datos['workers'])

In [50]:
df

  nombre  edad  experiencia   nivel  salario mascota
0    Ana    34            5  Senior    50000   gatos
1    Eva    37            2     Mid    35000     NaN
2  Marta    27            1  Junior    25000     NaN
3  Paula    30            3     Mid    35000     NaN

In [51]:
df.to_json("Files/personal_normalizado.json")

In [52]:
df = pd.read_json("files/personal_normalizado.json")